<app-menu></app-menu>
<div class="container mb-2 p-1 " style="border-radius: 5px; margin-top: 52px;">
    <!-- ENCABEZADO DE PAGINA -->
    <div class="card ">
        <div class="car-body ">
            <div class="input-group input-group-sm ">
                <button class="btn  mr-1 " type="button">
                    <i class="fas fa-fw fa-list"></i>
                </button>
                <label class="form-control ">
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-home"></i> </a>
                    <span class="d-none d-sm-inline">
                        CONTROL /
                    </span>

                    <span class="" id="lblTitulo">TRABAJADORES</span>
                    <span style="float:right;line-height:20px;">
                        <span class="fa fa-fw fa-globe hidden-xs "></span>
                    </span>
                </label>
                <div class="btn-group btn-group-sm">
                    <!-- <button class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action"  title="Nuevo" (click)="Nuevo()">
						<span class="fa fa-fw fa-file" ></span>
					</button> -->
                    <button class="btn btn-outline-primary  border-secondary ml-1 text-dark btn-action"
                        routerLink="/trabajador/listar" title="Buscar">
                        <span class="fa fa-fw fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- TRABAKADPR FORMULARIO -->
    <span class="nsPanel">
        <div class="container-sm p-1">
            <div class="card">
                <div class="card-header p-1">
                    <div class="input-group input-group-sm">
                        <button class="btn btn-outline-secondary border-white" type="button" title="">
                            <span class="fas fa-fw fa-user-alt fa-lg"></span>
                        </button>
                        <label class="form-control ">FORMULARIO</label>
                        <button class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action" type="button"
                            (click)="Actualizar()">
                            <i class="fa fa-fw fa-save"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body p-2">
                    <div class="" style="overflow-y: auto;">
                        <form id="frmTrabajadores" class="form " style="height: 80vh;">
                            <div class="container">
                                <!-- Datos personales -->
                                <h6>DATOS PERSONALES</h6>
                                <hr>
                                <div class="row mt-2">
                                    <div class="col-lg-2">
                                        <div class="form-group input-group-sm">
                                            <label> APELLIDO PATERNO:</label>
                                            <input class="form-control" name="apellidoPaterno" id="apellidoPaterno"
                                                [(ngModel)]="trabajadores.apellidoPaterno" type="text"
                                                placeholder="APELLIDO PATERNO" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group input-group-sm">
                                            <label> APELLIDO MATERNO:</label>
                                            <input class="form-control" name="apellidoMaterno" id="trabApellidoMaterno"
                                                [(ngModel)]="trabajadores.apellidoMaterno" type="text"
                                                placeholder="APELLIDO MATERNO" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group input-group-sm">
                                            <label> NOMBRES:</label>
                                            <input class="form-control" name="nombre" id="nombre"
                                                [(ngModel)]="trabajadores.nombre" type="text" placeholder="NOMBRES"
                                                autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group input-group-sm">
                                            <label> ESTADO CIVIL:</label>
                                            <select class="form-select" id="estadoCivil" name="estadoCivil"
                                                [(ngModel)]="trabajadores.estadoCivil">
                                                <option value="">SELECCIONE</option>
                                                <option value="Soltero(a)">Soltero(a)</option>
                                                <option value="Casado(a)">Casado(a)</option>
                                                <option value="Conviviente(a)">Conviviente(a)</option>
                                                <option value="Viudo(a)">Viudo(a)</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group input-group-sm">
                                            <label> ESTADO</label>
                                            <div class="input-group input-group-sm">
                                                <select name="estado" id="estado" [(ngModel)]="trabajadores.estado"
                                                    class="form-select">
                                                    <option value="activo" selected>ACTIVO</option>
                                                    <option value="inactivo">INACTIVO</option>
                                                    <option value="suspendido">SUSPENDIDO</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-2">
                                        <div class="form-group input-group-sm">
                                            <label> TIPO DOC:</label>
                                            <select name="tipoDocumento" id="tipoDocumento"
                                                [(ngModel)]="trabajadores.tipoDocumento" class="form-select">
                                                <option value="">SELECCIONE</option>
                                                <option value="DNI">DNI</option>
                                                <option value="PPT">PPT</option>
                                                <option value="PASAPORTE">PASAPORTE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group input-group-sm">
                                            <label> NUMERO DOC:</label>
                                            <input name="nroDocumento" id="nroDocumento"
                                                [(ngModel)]="trabajadores.nroDocumento" type="text" maxlength="8"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>SEXO</label>
                                        <div class="input-group input-group-sm">
                                            <select id="sexo" name="sexo" [(ngModel)]="trabajadores.sexo"
                                                class="form-select">
                                                <option value="">SELECCIONE</option>
                                                <option value="Masculino">MASULINO</option>
                                                <option value="Femenino">FEMENINO</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <h6 class="mt-3">DATOS DE NACIEMIETO Y DOMICILIO </h6>
                                <hr>
                                <div class="row mt-2">
                                    <div class="col-lg-2">
                                        <label for="">FECHA NACIEMETO</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" id="fechaNacimiento" name="fechaNacimiento"
                                                [(ngModel)]="trabajadores.fechaNacimiento" type="date">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="">DEPARTAMENTO</label>
                                        <div class="input-group input-group-sm">
                                            <!-- <select class="form-select" id="trabCodDepartamento" name="trabCodDepartamento" [(ngModel)]="trabajadores.trabCodDepartamento" [disabled]="isDisabled"></select> -->
                                            <select [(ngModel)]="trabajadores.ubigeo!.departamento"
                                                (change)="cargaProvincia()" id="departamento" name="departamento"
                                                class="form-control">
                                                <option value="-1"> [Seleccione] </option>
                                                <option *ngFor="let aux of departamentos" value="{{ aux }}">
                                                    {{ aux }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="">PROVINCIA</label>
                                        <div class="input-group input-group-sm">
                                            <!-- <select class="form-select" id="trabCodProvincia" name="trabCodProvincia" [(ngModel)]="trabajadores.trabCodProvincia" [disabled]="isDisabled"></select> -->
                                            <select [(ngModel)]="trabajadores.ubigeo!.provincia"
                                                (change)="cargaDistrito()" id="provincia" name="provincia"
                                                class="form-control">
                                                <option value="-1"> [Seleccione] </option>
                                                <option *ngFor="let aux of provincias" value="{{ aux }}">
                                                    {{ aux }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="">DISTRITO</label>
                                        <div class="input-group input-group-sm">
                                            <!-- <select class="form-select" id="trabCodDistrito" name="trabCodDistrito" [(ngModel)]="trabajadores.trabCodDistrito" [disabled]="isDisabled"></select> -->

                                            <select [(ngModel)]="trabajadores.ubigeo!.distrito" id="distrito"
                                                name="distrito" class="form-control">
                                                <option value="0"> [Seleccione] </option>
                                                <option *ngFor="let aux of  distritos" value="{{ aux.distrito }}">
                                                    {{ aux.distrito }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="">DIRECCION</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" type="text" id="trabDireccion"
                                                name="trabDireccion" [(ngModel)]="trabajadores.direccion">
                                        </div>
                                    </div>

                                </div>
                                <h6 class="mt-3">DATOS DE CONTACTO</h6>
                                <hr>
                                <div class="row mt-2">
                                    <div class="col-lg-4">
                                        <label for="">EMAIL</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" type="text" id="correo" name="correo"
                                                [(ngModel)]="trabajadores.correo">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="">TELEFONO</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" type="text" id="telefono" name="telefono"
                                                [(ngModel)]="trabajadores.telefono">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="">CARGO</label>
                                        <div class="input-group input-group-sm">

                                            <select [(ngModel)]="trabajadores.cargo.id" id="cargo" name="cargo"
                                                class="form-control">
                                                <option value="0" selected> [Seleccione] </option>
                                                <option *ngFor="let c of  cargos" value="{{ c.id}}">
                                                    {{ c.nombre }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-12">
                                        <label for="">OBSERVACION</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" type="text" id="trabObservacion"
                                                id="trabObservacion">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body p-2 overflow-auto" style="height: 20vh;">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col" >#</th> -->
                                            <th scope="col">TURNO</th>
                                            <th scope="col">AÑO</th>
                                            <th scope="col">MES</th>
                                            <th scope="col">SUELDO</th>
                                            <th>
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    data-bs-toggle="modal" data-bs-target="#NuevoSueldo">
                                                    <i class="fa fa-fw fa-file-alt"></i>
                                                </button>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let t of sueldos, let indice=index">
                                            <td>{{ t.turno }}</td>
                                            <td>{{ t.anio }}</td>
                                            <td> {{ t.meses }}</td>
                                            <td>S/.{{ t.base }}</td>
                                            <td>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning btn-sm"
                                                    data-bs-toggle="modal" (click)="cargarSueldo(t)"
                                                    data-bs-target="#EditarSueldo">
                                                    <i class="fa fa-fw fa-pencil-alt"></i>
                                                </button>


                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- <div class="card-footer ">
					<form action="javascript:void();">
						<div class="input-group input-group-sm mt-2">
							<button class="btn btn-outline-light border" type="button">
								<i class="fas fa-fw fa-angle-double-left"></i>
							</button>
							<label class="form-control"></label>
							<button class="btn btn-outline-light border" type="button">
								<i class="fas fa-fw fa-angle-double-right"></i>
							</button>
						</div>
					</form>
				</div> -->
            </div>
        </div>
    </span>
</div>



<!-- Modal -->
<div class="modal fade" id="EditarSueldo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditarSueldoLabel">Editar Sueldo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label>TURNO:</label>
                            <select class="form-select" id="turno" name="turno" [(ngModel)]="sueldo.turno">
                                <option value="">SELECCIONE</option>
                                <option value="noche">NOCHE</option>
                                <option value="dia">DIA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label> ANIO:</label>
                            <input class="form-control" name="anio" id="anio" [(ngModel)]="sueldo.anio" type="text"
                                placeholder="ANIO" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label> MES:</label>
                            <input class="form-control" name="nombre" id="meses" [(ngModel)]="sueldo.meses" type="text"
                                placeholder="MES" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label> SUELDO</label>
                            <input class="form-control" name="base" id="base" [(ngModel)]="sueldo.base" type="text"
                                placeholder="SUELDO" autocomplete="off" />

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="sueldoActualizar(sueldo)">actualizar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="NuevoSueldo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditarSueldoLabel">Nuevo Sueldo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label>TURNO:</label>
                            <select class="form-select" id="turno" name="turno" [(ngModel)]="sueldo.turno">
                                <option value="">SELECCIONE</option>
                                <option value="noche">NOCHE</option>
                                <option value="dia">DIA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label> ANIO:</label>
                            <input class="form-control" name="anio" id="anio" [(ngModel)]="sueldo.anio" type="text"
                                placeholder="ANIO" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label> MES:</label>
                            <input class="form-control" name="nombre" id="meses" [(ngModel)]="sueldo.meses" type="text"
                                placeholder="MES" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group input-group-sm">
                            <label> SUELDO</label>
                            <input class="form-control" name="base" id="base" [(ngModel)]="sueldo.base" type="text"
                                placeholder="SUELDO" autocomplete="off" />

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="sueldoNuevo(sueldo)">Agregar</button>
            </div>
        </div>
    </div>
</div>