<app-menu></app-menu>
<div class="container mb-2 p-1 " style="border-radius: 5px; margin-top: 52px;">
	<div class="card ">
		<div class="car-body ">
			<div class="input-group input-group-sm ">
				<button class="btn  mr-1 " type="button">
					<i class="fas fa-fw fa-list"></i>
				</button>
				<label class="form-control ">
					<!-- <a href="javascript:void(0);"><i class="fa fa-fw fa-home"></i> </a> -->
					<!-- <span class="d-none d-sm-inline">
						CONTROL /
					</span> -->
					<span class="" id="lblTitulo"> TRABADORES</span>
					<!-- <span style="float:right;line-height:20px;">
						<span  class="fa fa-fw fa-globe hidden-xs "></span>
					</span> -->
				</label>
				<div class="btn-group btn-group-sm">
					<button *ngIf="isAdmin" class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action"
						routerLink="/trabajador" title="Nuevo">
						<span class="fa fa-fw fa-file"></span>
					</button>
					<button class="btn btn-outline-primary  border-secondary ml-1 text-dark btn-action"
						data-action="buscar" title="Buscar">
						<span class="fa fa-fw fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- trabajador BUSCAR -->

<span class="Panel" id="trabajadorDesktop">
	<div class="container-sm p-1">
		<div class="card">
			<div class="card-header p-1">
				<div class="input-group input-group-sm">
					<button class="btn btn-outline-secondary border-white mr-1 " type="button" title="" disabled>
						<span class="fas fa-fw fa-user-alt fa-lg"></span>
					</button>
					<label class="form-control text-truncate">BUSCAR</label>
					<!-- <select class="form-select"[(ngModel)]="estado">
						<option value="0" >selecione</option>
						<option value="activo" selected>Activo</option>
						<option value="inactivo" >Inactivo</option>
						<option value="Inactivo" >Suspendido</option>
					</select> -->
					<button class="btn btn-outline-warning border-secondary ml-1 text-dark btn-action" type="button"
						title="Nuevo" (click)="Nuevo()">
						<i class="fa fa-fw fa-file"></i>
					</button>
				</div>
			</div>

			<div class="card-body p-2 overflow-auto" style="height: 75vh;">
				<table class="table table-responsive">
					<thead>
						<tr>
							<!-- <th scope="col" >#</th> -->
							<th scope="col">NOMBRE</th>
							<th scope="col">APELLIDOS</th>
							<th scope="col">DOC</th>
							<th scope="col">DIRECCION</th>
							<th scope="col">CARGO</th>
							<th scope="col">ESTADO</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor=" let t of trabajadores, let indice=index" class="text-center">
							<!-- <th scope="row">{{indice+1}}</th> -->
							<td>{{ t.nombre }}</td>
							<td>{{ t.apellidoPaterno }} {{ t.apellidoMaterno }}</td>
							<td> {{ t.tipoDocumento }} 46546v</td>
							<td>{{ t.direccion }}</td>
							<td>{{ t.cargo.nombre }}</td>
							<td>{{t.estado}}</td>
							<td>
								<button (click)="buscarTrabajador(t)" [name]="t" style="width: 60px"
									class="btn btn-warning btn-sm"> <i class="fa fa-fw fa-pencil-alt"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer ">
				<form action="javascript:void();">
					<div class="input-group input-group-sm mt-2">
						<button class="btn btn-outline border" (click)="rewind()" type="button">
							<i class="fas fa-fw fa-angle-double-left"></i>
						</button>
						<label class="form-control"></label>
						<button class="btn btn-outline border" (click)="forward()" type="button">
							<i class="fas fa-fw fa-angle-double-right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</span>