<app-menu></app-menu>
<div class="container mb-2 p-1 " style="border-radius: 5px; margin-top: 52px;">
  <!-- ENCABEZADO DE PAGINA -->
    <div class="card ">
        <div class="car-body ">
            <div class="input-group input-group-sm ">
                <button class="btn  mr-1 " type="button">
                    <i class="fas fa-fw fa-list"></i>
                </button>
                <label class="form-control ">
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-home"></i> </a>
                    <span class="d-none d-sm-inline">
                        CONTROL /
                    </span>

                    <span class="" id="lblTitulo">PROPIETARIO</span>
                    <span style="float:right;line-height:20px;">
                        <span class="fa fa-fw fa-globe hidden-xs "></span>
                    </span>
                </label>
                <div class="btn-group btn-group-sm">
                    <!-- <button class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action"  title="Nuevo" (click)="Nuevo()">
						<span class="fa fa-fw fa-file" ></span>
					</button> -->
                    <button class="btn btn-outline-primary  border-secondary ml-1 text-dark btn-action"
                        routerLink="/trabajador/listar" title="Buscar">
                        <span class="fa fa-fw fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- PROPIETARIO FORMULARIO -->
    <span class="nsPanel">
      <div class="container-sm p-1">
        <div class="card">
          <div class="card-header p-1">
            <div class="input-group input-group-sm">
                <button class="btn btn-outline-secondary border-white" type="button" title="">
                    <span class="fas fa-fw fa-user-alt fa-lg"></span>
                </button>
                <label class="form-control ">FORMULARIO</label>
                <button class="btn btn-outline-primary border-secondary ml-1 text-dark btn-action" type="button"
                    (click)="Actualizar()">
                    <i class="fa fa-fw fa-save"></i>
                </button>
            </div>
          </div>

          <div class="card-body p-2">
            <div class="" style="overflow-y: auto;">
              <form id="frmTrabajadores" class="form " style="height: 80vh;">
                <div class="container">
                  <!-- Datos personales -->
                  <h6>DATOS PERSONALES</h6>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-lg-2">
                      <div class="form-group input-group-sm">
                          <label> APELLIDO PATERNO:</label>
                          <input class="form-control" name="apellidoPaterno" id="apellidoPaterno"
                              [(ngModel)]="propietarios.apellidoPaterno" type="text"
                              placeholder="APELLIDO PATERNO" autocomplete="off" />
                      </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group input-group-sm">
                            <label> APELLIDO MATERNO:</label>
                            <input class="form-control" name="apellidoMaterno" id="trabApellidoMaterno"
                                [(ngModel)]="propietarios.apellidoMaterno" type="text"
                                placeholder="APELLIDO MATERNO" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group input-group-sm">
                            <label> NOMBRES:</label>
                            <input class="form-control" name="nombre" id="nombre"
                                [(ngModel)]="propietarios.nombre" type="text" placeholder="NOMBRES"
                                autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group input-group-sm">
                          <label> ESTADO CIVIL:</label>
                          <select class="form-select" id="estadoCivil" name="estadoCivil"
                              [(ngModel)]="propietarios.estadoCivil">
                              <option value="">SELECCIONE</option>
                              <option value="Soltero(a)">Soltero(a)</option>
                              <option value="Casado(a)">Casado(a)</option>
                              <option value="Conviviente(a)">Conviviente(a)</option>
                              <option value="Viudo(a)">Viudo(a)</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group input-group-sm">
                          <label> ESTADO</label>
                          <div class="input-group input-group-sm">
                              <select name="estado" id="estado" [(ngModel)]="propietarios.estado"
                                  class="form-select">
                                  <option value="activo" selected>ACTIVO</option>
                                  <option value="inactivo">INACTIVO</option>
                                  <option value="suspendido">SUSPENDIDO</option>
                              </select>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-2">
                      <div class="form-group input-group-sm">
                        <label> TIPO DOC:</label>
                        <select name="tipoDocumento" id="tipoDocumento"
                            [(ngModel)]="propietarios.tipoDocumento" class="form-select">
                            <option value="">SELECCIONE</option>
                            <option value="DNI">DNI</option>
                            <option value="PPT">PPT</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group input-group-sm">
                          <label> NUMERO DOC:</label>
                          <input name="nroDocumento" id="nroDocumento"
                              [(ngModel)]="propietarios.nroDocumento" type="text" maxlength="8"
                              class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <label>SEXO</label>
                      <div class="input-group input-group-sm">
                          <select id="sexo" name="sexo" [(ngModel)]="propietarios.sexo"
                              class="form-select">
                              <option value="">SELECCIONE</option>
                              <option value="Masculino">MASULINO</option>
                              <option value="Femenino">FEMENINO</option>
                          </select>
                      </div>
                    </div>
                  </div>

                  <h6 class="mt-3">DATOS DE NACIMIENTO Y DOMICILIO </h6>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-lg-2">
                      <label for="">FECHA NACIEMETO</label>
                      <div class="input-group input-group-sm">
                          <input class="form-control" id="fechaNacimiento" name="fechaNacimiento"
                              [(ngModel)]="propietarios.fechaNacimiento" type="date">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <label for="">DEPARTAMENTO</label>
                      <div class="input-group input-group-sm">
                          <!-- <select class="form-select" id="trabCodDepartamento" name="trabCodDepartamento" [(ngModel)]="trabajadores.trabCodDepartamento" [disabled]="isDisabled"></select> -->
                          <select [(ngModel)]="propietarios.ubigeo!.departamento"
                              (change)="cargaProvincia()" id="departamento" name="departamento"
                              class="form-control">
                              <option value="-1"> [Seleccione] </option>
                              <option *ngFor="let aux of departamentos" value="{{ aux }}">
                                  {{ aux }}
                              </option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <label for="">PROVINCIA</label>
                      <div class="input-group input-group-sm">
                          <!-- <select class="form-select" id="trabCodProvincia" name="trabCodProvincia" [(ngModel)]="trabajadores.trabCodProvincia" [disabled]="isDisabled"></select> -->
                          <select [(ngModel)]="propietarios.ubigeo!.provincia"
                              (change)="cargaDistrito()" id="provincia" name="provincia"
                              class="form-control">
                              <option value="-1"> [Seleccione] </option>
                              <option *ngFor="let aux of provincias" value="{{ aux }}">
                                  {{ aux }}
                              </option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <label for="">DISTRITO</label>
                      <div class="input-group input-group-sm">
                          <!-- <select class="form-select" id="trabCodDistrito" name="trabCodDistrito" [(ngModel)]="trabajadores.trabCodDistrito" [disabled]="isDisabled"></select> -->

                          <select [(ngModel)]="propietarios.ubigeo!.distrito" id="distrito"
                              name="distrito" class="form-control">
                              <option value="0"> [Seleccione] </option>
                              <option *ngFor="let aux of  distritos" value="{{ aux.distrito }}">
                                  {{ aux.distrito }}
                              </option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label for="">DIRECCION</label>
                      <div class="input-group input-group-sm">
                          <input class="form-control" type="text" id="trabDireccion"
                              name="trabDireccion" [(ngModel)]="propietarios.direccion">
                      </div>
                    </div>
                  </div>

                  <h6 class="mt-3">DATOS DE CONTACTO</h6>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-lg-2">
                      <div class="form-group input-group-sm">
                          <label> CORREO:</label>
                          <input class="form-control" name="correo" id="correo"
                              [(ngModel)]="propietarios.correo" type="email" placeholder="CORREO"
                              autocomplete="off" />
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group input-group-sm">
                          <label> TELEFONO:</label>
                          <input class="form-control" name="telefono" id="telefono"
                              [(ngModel)]="propietarios.telefono" type="text" placeholder="TELEFONO"
                              autocomplete="off" />
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <label for="">FECHA INGRESO</label>
                      <div class="input-group input-group-sm">
                          <input class="form-control" id="fechaIngreso" name="fechaIngreso"
                              [(ngModel)]="propietarios.fechaIngreso" type="date">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <label for="">FECHA SALIDA</label>
                      <div class="input-group input-group-sm">
                          <input class="form-control" id="fechaSalida" name="fechaSalida"
                              [(ngModel)]="propietarios.fechaSalida" type="date">
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-12">
                        <label for="">OBSERVACION</label>
                        <div class="input-group input-group-sm">
                            <input [(ngModel)]="propietarios.observacion" class="form-control" type="text" name="observacion" id="trabObservacion">
                        </div>
                    </div>
                </div>

                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </span>
</div>